Robo_eSocial_Tkinter_novo.py
dist/
build/
eSocial_nova_interface.spec
eSocial_nova_interface.spec
build/eSocial_nova_interface/Analysis-00.toc
build/eSocial_nova_interface/base_library.zip
build/eSocial_nova_interface/eSocial_nova_interface.pkg
build/eSocial_nova_interface/EXE-00.toc
build/eSocial_nova_interface/PKG-00.toc
build/eSocial_nova_interface/PYZ-00.pyz
build/eSocial_nova_interface/PYZ-00.toc
build/eSocial_nova_interface/Tree-00.toc
build/eSocial_nova_interface/Tree-01.toc
build/eSocial_nova_interface/Tree-02.toc
build/eSocial_nova_interface/warn-eSocial_nova_interface.txt
build/eSocial_nova_interface/xref-eSocial_nova_interface.html
dist/eSocial_nova_interface.exe
eSocial_nova_interface.spec
dist/eSocial_nova_interface.exe
